@import url(fields/index2.css);

form{
    margin-top: 2rem;
}
fieldset{
    border: none;
    display: grid;
    gap: 1.5rem;
}
legend{
    font: var(--titulo2);
    color: var(--cor-texto-1);
    margin-bottom: 1.5rem;
}
fieldset + fieldset{
    margin-top: 3rem;
}