* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* cores */
    --cor-marca: #F3541C;
    --cor-marca-2: #f3551c17;
    --cor-texto-1: #292524;
    --cor-texto-2: #57534E;
    --cor-texto-3: #8F8881;
    --cor-texto-4: #E43A12;
    --cor-bg-1: #fee7d7;
    --cor-erro: #DC2626;
    
    /* fontes */
    --font-family: "Poppins", sans-serif;
    --texto: 400 1rem/1.5 var(--font-family);
    --texto-p: 400 .8rem/1.5 var(--font-family);
    --titulo: 600 2.5rem/1.25 var(--font-family);
    --titulo2: 600 1.2rem/1.25 var(--font-family);
}
body{
    overflow: hidden;
    font: var(--texto);
    color: var(--cor-texto-2);
}
h1, h2{
    color: var(--cor-texto-1);
}
img{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-areas: 
    "A A B"
    "C C D";
    gap: 1rem;
    & #rua1{
        grid-area: A;
    }
    & #floresta2{
        grid-area: C;
    }
}