#app{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100vh;
    overflow: hidden;
}
main{
    overflow: auto;
    padding: 4rem;
    padding-top: 5rem;

    & .main-container{
        max-width: 40rem;
        margin-left: auto;
    }
    & #voltar{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.1rem;
    }
    & h1{
        font: var(--titulo);
        margin-bottom: .5rem;
    }
}
aside{
    background-color: var(--cor-bg-1);
    padding: 4rem;

    & .aside-container{
        max-width: 40rem;
    }
    & h1{
        font: var(--titulo);
        margin-bottom: 1rem;
        & span{
            color: var(--cor-marca);
        }
    }
    & img:nth-child(1){
        height: 50px;
        width: 250px;
    }
    & img:nth-child(2){
        margin-top: 3rem;
    }
}