#app{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    overflow: hidden;
    & p{
        color: var(--cor-texto-1);
    }
}
main{
    overflow: auto;
    padding: 4rem;

    & .main-container{
        max-width: 45rem;
        margin-left: auto;
    }
    & h1{
        font: var(--titulo);
        margin-bottom: .5rem;
    }
    & a{
        display: flex;
        text-decoration: none;
        gap: .2rem;
        margin-bottom: 2.1rem;
        color: var(--cor-texto-2);
        max-width: 80px;
    }
    & a:hover{
        transition: ease-in-out .2s;
        color: var(--cor-marca);
        & svg path{
            transition: ease-in-out .2s;
            fill: var(--cor-marca);
        }
    }
}
aside{
    background-color: var(--cor-bg-1);
    padding: 4rem;
    overflow: auto;

    & .aside-container{
        max-width: 45rem;
    }
    & h1{
        font: var(--titulo);
        margin-bottom: 1rem;
        & span{
            color: var(--cor-marca);
        }
    }
    & img:nth-child(1){
        height: 50px;
        width: 250px;
    }
    & img:nth-child(2){
        margin-top: 3rem;
    }
}